.Navbar-container {
  background-color: #2f435e;
  display: flex;
  flex-direction: row;
  border: 2px solid blue;
  justify-content: space-around;
}

.Navbar-item {
  text-align: center;
  align-items: center;
  border: 2px solid red;
  color: white !important;
}

.Navbar-item :hover {
  background-color: #44566c;
  cursor: pointer;
}
a {
  color: white;
  text-decoration-line: none;
}
