.competences-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: #211c22;
  height: 100vh;
  width: 100%;
  color: white;
}

.logo-container1 {
  display: flex;
  justify-content: center;
  /* border: solid 2px black; */
  width: 75%;
  height: 100px;
  padding-top: 30px;
}

.logo-container2 {
  display: flex;
  justify-content: center;
  /* border: solid 2px black; */
  width: 75%;
  height: 100px;
  padding-top: 15px;
}

.logo {
  object-fit: contain;
  width: 60px;
  height: 60px;
  padding: 15px;
}

.text-competences-container {
  width: 50vw;
  border-radius: 10px;
  text-align: center;
  background-color: #2f435e;
  color: white;
}
