.competences-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: #211c22;
  height: 100vh;
  width: 100%;
  color: white;
}
.big-competence-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  background-color: #2f435e;
  margin-top: 50px;
}

.logo-container1 {
  display: flex;
  justify-content: center;
  /* border: solid 2px black; */
  width: 75%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo-container2 {
  display: flex;
  justify-content: center;
  /* border: solid 2px black; */
  width: 75%;

  padding-top: 15px;
  margin-bottom: 20px;
}

.logo {
  object-fit: contain;
  width: 120px;
  height: 120px;
  padding: 15px;
  margin: 10px;
}

.text-competences-container {
  width: 50vw;
  border-radius: 10px;
  text-align: center;
  background-color: #2f435e;
  color: white;
  margin-top: 15px;
}

.mini-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px;
}

.mini-logo-container a {
  font-weight: bold;
}
