.Home-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #211c22;
  height: 100vh;
}

.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}
.title {
}

.photoBen {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}
.name {
  color: white;
  margin: 5px;
  font-size: 50px;
}

.description {
  color: #5db4bf;
  margin: 5px;
  font-size: 30px;
}
