.Experiences-container {
  background-color: #5db4bf;
}

.vertical-timeline-element--work {
  margin: 20px;
}

.poke-logo {
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.maxime-photo {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
